/*NAVBAR*/
.navbar{
  background-color: $bluewpt !important;
}

.navbar .nav-item .nav-link{
  color: $white !important;
}

.navbar-brand{
  color: $bluewptclarito !important;
}

/*CARDS*/
.card{
  margin-top: 10px;
}

.card-header{
  background-color: $bluewptclarito !important;
}

/*FOOTER*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $bluewpt;
  color: white;
  text-align: center;
}

/*ENLACES*/
.enlace{
  color: $pinkwpt !important;
}

/*404*/
.error404{
  font-size: 60px;
  color: $bluewpt;
}

.error404 .volver{
  background-color: $pinkwpt;
  color: $white;
}

/*MENSAJES*/
.mensaje{
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
  padding: 10px;
}

.fecha_propio{
  margin-right: 40px;
}

.fecha_ajeno{
  margin-left: 40px;
}

.propio{
  background-color: blue;
  color: white;
}

.ajeno{
  background-color: silver;
}